
<div *ngIf="blog">
    <h2><span jhiTranslate="gatewayApp.blog.detail.title">Blog</span> {{blog.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.blog.name">Name</span></dt>
        <dd>
            <span>{{blog.name}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.blog.handle">Handle</span></dt>
        <dd>
            <span>{{blog.handle}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.blog.user">User</span></dt>
        <dd>
            {{blog.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'blog/'+ blog.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
